.home-page-header-component {
  border-collapse: separate;
  overflow: hidden;
  .home-page-header-inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 616px) {
      margin-top: 16px;
      margin-bottom: 16px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .home-page-header-left-side-wrapper {
      display: flex;
      gap: 16px;
      align-items: center;
      @media (max-width: 616px) {
        gap: 12px;
      }
      .fa-comments {
        width: 32px;
        height: 32px;
        @media (max-width: 616px) {
          width: 24px;
          height: 24px;
        }
      }
      h2 {
        font-weight: bolder;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
        color: rgb(64, 46, 45);
        @media (max-width: 616px) {
          font-size: 24px;
        }
      }
    }
    .home-page-header-right-side-wrapper {
      display: flex;
      gap: 12px;
      align-items: center;
      span:first-child {
        font-weight: 700;
        color: rgb(60, 53, 41);
        font-size: 20px;
        @media (max-width: 616px) {
          display: none;
        }
      }
      span:last-child {
        font-weight: 900;
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: rgb(252, 250, 247);
        background-color: rgb(226, 78, 64);
        display: grid;
        place-items: center;
        font-size: 19px;

        @media (max-width: 616px) {
          width: 32px;
          height: 32px;
          font-size: 17px;
        }
      }
    }
  }
  hr {
    margin: 0;
  }
}
